.collapse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    &__button {
        width: 70%;

        margin: auto;
        height: 50px;
        border: none;
        margin-bottom: 0;
        background-color: #ff6060;
        color: white;
        font-size: 24px;
        font-weight: 700;
        border-radius: 5px;
        text-align: left;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

  

    
    &__arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &__arrow.open {
    transform: rotate(-180deg);
  }

  &__content {
    background-color: #FaFaFa;
    width: 68%;
    max-height: 0;
    overflow: hidden;
    font-size: 24px;
   
    border-radius:0 0 5px 5px;
      
    transition:
         max-height 0.4s ease,
    
    padding 0.3s ease,
    

  }
  

  &__content.open {
     max-height: 200px;
 
  padding: 20px;
  
  }

}
@media (max-width: 768px) {

  .logement__collapse {
    

    .collapse__button{
      height: 30px;
      font-size: 13px;
      border-radius: 5px;
      padding: 0 12px;
    }
    .collapse{
      gap:0;
      margin-bottom: 10px;
    }

    .collapse__content{
      font-size: 12px;
    }

    .fa-chevron-up{
      font-size: 16px;
    }

  }
}


