.error {

    &__title{
        display: flex;
        justify-content: center;
        font-size: 150px;
        font-weight: 700;
        color: #ff6060;
    }

    &__text {
        color: #ff6060;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 500;
    }

    &__link{
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 90px;
        padding-top: 90px;
    }
}